
# SECRETOS Y CREDENCIALES 

.env
.env.*
!.env.example
*firebase*.json
*-adminsdk-*.json
*.pem
*.key
*.jks
*.keystore
*.p12
key.properties
secrets/

**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/macos/Runner/GoogleService-Info.plist
**/lib/firebase_options.dart


# APP MÓVIL 

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

**/android/.gradle/
**/ios/Pods/
**/ios/.symlinks/

# JAVA - SPRING BOOT 

target/
*.class
*.jar
*.war
logs/
*.log
.mvn/wrapper/maven-wrapper.jar

.project
.classpath
.settings/
.springBeans


# PYTHON - FASTAPI 
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.pytest_cache/
.coverage
pip-log.txt


# ANGULAR 
node_modules/
dist/
.angular/
coverage/
npm-debug.log*
yarn-error.log*
yarn-debug.log*


# ARCHIVOS DE SISTEMA E IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/